.body {
  position: absolute;
  left: 10vw;
  background-color: aliceblue;
  width: 90vw;
  height: 100vh;
  color: #080f10;
}

.generalContent {
   width: 70vw;
  margin-left : 5vw;
  margin-top: 5vh;
}