header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #49c5ca;
  color: #080f10;
  padding: 1rem;
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

header h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

nav ul {
  list-style: none;
  width: 100%;
}

nav ul li a {
  background-image: url("../assets/button-sheet.png");
  width: 118px;
  height: 50px;
  image-rendering: pixelated;
  background-position: 0px 0px;
  color:#080f10;
  text-decoration: none;
  font-size: 1rem;
  background-repeat: no-repeat;
  padding: 0.5rem;
  text-align: center;
  display: inline-block;
  background-size:  auto;
}

nav ul li a:hover {
  background-image: url("../assets/button-sheet.png");
  background-position: -118px 0px;
}

nav ul li a:active {
  background-image: url("../assets/button-sheet.png");
  animation: 1s play 1s steps(3, end) forwards;

}
@keyframes play {
  0% { background-position: -118px 0px; }
  100% { background-position: -354px 0px; }
}

