.projectsPreview {
  
  margin-top: 5vh; 
}

.projectCards{
  display: flex;;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  
}
.projectCard{
 white-space: nowrap;
 margin-right: 6vw ;
 margin-top: 5vh;

}
.projectCard img{
  height: 10vw;
  object-fit: fill;
}